@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title>Оперативная задача Глобал</title>

	<link rel="apple-touch-icon" sizes="57x57" href="~/Content/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="~/Content/favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="~/Content/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="~/Content/favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="~/Content/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="~/Content/favicon/apple-touch-icon-120x120.png">
	<link rel="icon" type="image/png" href="~/Content/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="~/Content/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="~/Content/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="~/Content/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link href="~/Content/themes/base/all.css"
		  rel="stylesheet">
	@Styles.Render("~/Content/css")

	<link href="~/Content/ui-grid.css" rel="stylesheet" />
	<link rel="stylesheet/less" type="text/css" href="~/Content/main.less" />
	<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet">
	<link href="~/Content/themes/base/customTheme.css"
		  rel="stylesheet">
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@*@Scripts.Render("~/bundles/libs")*@
</head>
<body ng-app="gkApp">
	<div class="wrapper">
		<header class="header">
			<div class="left">
			    <div ng-controller="clockCtrl">
			        <div id="clockbox" class="time" ng-bind="time">
			        </div>
			    </div>
				<div class="icons" ng-controller="mainIconsCtrl">
					<div class="icon RAlarm_main_5_Info"></div>
					<div class="icon mute" ng-class="{off: isSound}" ng-click="isSound = !isSound"></div>
					<div class="icon connect on"></div>
					<div class="icon change-user on" ng-click="logOut()"></div>
					<div class="icon activation on"></div>
					<div class="icon plan on"></div>
				</div>
			</div>
			<div class="right">
				@Html.Action("AlarmGroups", "Alarms")
			</div>
		</header><!-- .header-->

		<div class="middle">
			<div class="container">
				<main class="content">
					@RenderBody()
				</main><!-- .content -->
			</div><!-- .container-->

			<aside class="left-sidebar" ng-controller="navCtrl">
				<ul class="menu">
					<li ng-class="{active: isPageActive('plan')}"><a ui-sref='plan'><span class="icon plans"></span><span class="text">Графические планы</span></a></li>
					<li ng-class="{clicked: groupControlClicked}">
						<a class="group-control" href="" ng-click="groupControlClicked = !groupControlClicked"><span class="icon group-control"></span><span class="text">Групповой контроллер</span></a>
						<ul>
							<li ng-repeat="item in navItems" ng-show="item.IsVisible" ng-class="{active: isPageActive({{'item.State'}})}"><a ui-sref="{{item.Sref}}"><span ng-class="item.Icon" class="icon"></span><span class="text">{{item.Title}}</span></a></li>
						</ul>
					</li>
					<li class="event-log" ng-class="{active: isPageActive('journal')}"><a ui-sref='journal'><span class="icon event-log"></span><span class="text">Журнал событий</span></a></li>
					<li ng-class="{active: isPageActive('archive')}"><a ui-sref='archive'><span class="icon archive"></span><span class="text">Архив</span></a></li>
					@*<li ng-class="{active: isPageActive('reports')}"><a ui-sref='reports'><span class="icon reports"></span><span class="text">Отчёты</span></a></li>*@
					<li class="SKD has-sub last" ng-class="{clicked: SKDClicked}">
						<a ng-click="SKDClicked = !SKDClicked"><span class="icon SKD"></span><span class="text">СКД</span></a>
						<ul>
							<li ng-class="{active: isPageActive('hr')}">
								<a class="hr" ui-sref='hr'><span class="icon file"></span><span class="text">Картотека</span></a>
							</li>
						</ul>
					</li>
				</ul>
			</aside><!-- .left-sidebar -->

		</div><!-- .middle-->

	</div><!-- .wrapper -->
	@*<script src="~/Scripts/jquery-2.1.4.min.js"></script>*@

	<script src="~/Scripts/less.min.js"></script>
	<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-touch-punch2.js"></script>
	<script src="~/Scripts/jquery.jqGrid.min.js"></script>
	<script src="~/Scripts/i18n/grid.locale-ru.js"></script>
	<script src="~/scripts/i18n/datepicker-ru.js"></script>

	<script src="~/Scripts/angular.js"></script>
	<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
	<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
	<script src="~/Scripts/angular-signalr-hub.js"></script>
	<script src="~/Scripts/d3/d3.min.js"></script>
	<script src="~/Scripts/d3tip.js"></script>
	<script src="~/Scripts/ui-grid.min.js"></script>
	<script src="~/Scripts/angular-ui-tree/angular-ui-tree.js"></script>
	<script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/uiGridAutoSizeColumn.js"></script>

	<script src="~/App/app.js"></script>
	<script src="~/App/constants.js"></script>
	<script src="~/App/route.js"></script>

	<script src="~/App/controllers/signalrCtrl.js"></script>
	<script src="~/App/controllers/planCtrl.js"></script>
	<script src="~/App/directives/d3Plan.js"></script>
	<script src="~/App/directives/alarmBtn.js"></script>
	<script src="~/App/directives/modalDraggable.js"></script>
	<script src="~/App/directives/modaless.js"></script>
    <script src="~/App/directives/mobileHoverFix.js"></script>
	<script src="~/App/services/broadcastService.js"></script>
	<script src="~/App/services/signalrAlarmsService.js"></script>
	<script src="~/App/services/signalrService.js"></script>
	<script src="~/App/services/signalrDeviceParametersService.js"></script>
	<script src="~/App/services/signalrDelaysService.js"></script>
	<script src="~/App/services/signalrDirectionsService.js"></script>
	<script src="~/App/services/signalrJournalService.js"></script>
	<script src="~/App/services/signalrFireZonesService.js"></script>
	<script src="~/App/services/signalrMPTsService.js"></script>
	<script src="~/App/services/signalrPumpStationService.js"></script>
	<script src="~/App/services/signalrGuardZonesService.js"></script>
	<script src="~/App/services/dialogService.js"></script>
    <script src="~/App/services/authService.js"></script>
    <script src="~/App/services/authInterceptorService.js"></script>
	<script src="~/App/services/journalService.js"></script>
	<script src="~/App/services/signalrConfigService.js"></script>
    <script src="~/App/services/SKD/employeesService.js"></script>

	<script src="~/App/services/signalrDoorsService.js"></script>
	<script src="~/App/controllers/navCtrl.js"></script>
    <script src="~/App/controllers/Common/loginCtrl.js"></script>
    <script src="~/App/controllers/Common/mainIconsCtrl.js"></script>
    <script src="~/App/controllers/Common/clockCtrl.js"></script>
	<script src="~/App/controllers/Doors/doorsCtrl.js"></script>
	<script src="~/App/controllers/Doors/doorDetailsCtrl.js"></script>
	<script src="~/App/controllers/GuardZones/guardZonesCtrl.js"></script>
	<script src="~/App/controllers/GuardZones/guardZoneDetailsCtrl.js"></script>
	<script src="~/App/controllers/fireZones/fireZonesCtrl.js"></script>
	<script src="~/App/controllers/fireZones/fireZonesDevicesCtrl.js"></script>
	<script src="~/App/controllers/fireZones/fireZonesDetailsCtrl.js"></script>
	<script src="~/App/services/signalrGuardZonesService.js"></script>
	<script src="~/App/controllers/GuardZones/guardZoneDevicesCtrl.js"></script>
	<script src="~/App/controllers/PumpStations/pumpStationDevicesCtrl.js"></script>
	<script src="~/App/controllers/PumpStations/pumpStationsCtrl.js"></script>
	<script src="~/App/controllers/PumpStations/pumpStationDetailsCtrl.js"></script>
	<script src="~/App/controllers/directions/directionsCtrl.js"></script>
	<script src="~/App/controllers/directions/directionDetailsCtrl.js"></script>
	<script src="~/App/controllers/MPTs/mptsDetailsCtrl.js"></script>
	<script src="~/App/controllers/MPTs/mptsCtrl.js"></script>
	<script src="~/App/services/signalrDevicesService.js"></script>
	<script src="~/App/controllers/delays/delaysCtrl.js"></script>
	<script src="~/App/controllers/delays/delayDetailsCtrl.js"></script>
	<script src="~/App/controllers/archive/archiveCtrl.js"></script>
	<script src="~/App/controllers/archive/archiveFilterCtrl.js"></script>
	<script src="~/App/controllers/journal/journalCtrl.js"></script>
	<script src="~/App/controllers/devices/devicesCtrl.js"></script>
	<script src="~/App/controllers/devices/devicesDetailsCtrl.js"></script>
	<script src="~/App/controllers/deviceParameters/deviceParametersCtrl.js"></script>
	<script src="~/App/controllers/deviceParameters/deviceParametersDetailsCtrl.js"></script>
	<script src="~/App/directives/devicesGrid.js"></script>
	<script src="~/App/controllers/alarms/alarmGroupsCtrl.js"></script>
	<script src="~/App/controllers/alarms/alarmsCtrl.js"></script>
	<script src="~/App/controllers/MPTs/devicesMPTCtrl.js"></script>
	<script src="~/App/controllers/restart/restartDetailsCtrl.js"></script>
    <script src="~/App/controllers/SKD/HR/HRCtrl.js"></script>
    <script src="~/App/controllers/SKD/HR/HRFilterCtrl.js"></script>
    <script src="~/App/controllers/SKD/common/organisationsFilterCtrl.js"></script>
    <script src="~/App/controllers/SKD/common/departmentsFilterCtrl.js"></script>
    <script src="~/App/controllers/SKD/common/positionsFilterCtrl.js"></script>
    <script src="~/App/controllers/SKD/common/employeesFilterCtrl.js"></script>
    <script src="~/App/controllers/SKD/employees/employeesCtrl.js"></script>
    <script src="~/App/controllers/SKD/employees/employeesToolbarCtrl.js"></script>
    <script src="~/App/controllers/SKD/employees/employeeDetailsCtrl.js"></script>
    <script src="~/App/controllers/SKD/employees/employeeCardsCtrl.js"></script>
	@*<script src="~/Scripts/report.js"></script>*@
	<script src="~/Scripts/tooltips.js"></script>
</body>
</html>