@{
    ViewBag.Title = "HrFilter";
    Layout = null;
}

<div>
    <div class="modal-header">
        <a class="close" href=""><img src="Content/Image/Icon/Header/close_pop.png" title="Закрыть" ng-click="cancel()" /></a>
        <h3 class="modal-title">Фильтр</h3>
    </div>
    <div class="modal-body">
        <uib-tabset ng-show="showEmployeeFilter">
            <uib-tab heading="Организации">
                @Html.Action("OrganisationsFilter")
            </uib-tab>
            <uib-tab heading="Подразделения">
                @Html.Action("DepartmentsFilter")
            </uib-tab>
            <uib-tab ng-show="isShowPositions" heading="Должности">
                @Html.Action("PositionsFilter")
            </uib-tab>
            <uib-tab heading="{{employeesHeader}}">
                @Html.Action("EmployeesFilter")
            </uib-tab>
        </uib-tabset>
        <div ng-show="!showEmployeeFilter">
            @Html.Action("OrganisationsFilter")
        </div>
    </div>
    <div mobile-hover-fix class="modal-footer">
        <div class="checkbox-inline pull-left">
            <label><input type="checkbox" ng-model="isWithDeleted" value="">Отображать архивные данные</label>
        </div>
        <button class="btn btn-primary pull-right" ng-click="save()">OK</button>
    </div>
</div>