@{
    ViewBag.Title = "Index";
    Layout = null;
}



<div id="HR">
    <div class="HrToolbar" ng-show="activeTab === 0" ng-controller="employeesToolbarCtrl">
        <div ng-show="selectedCard === null">
            <div class="icon add" ng-attr-title="{{addCommandToolTip()}}" ng-disabled="!canAdd()" ng-click="canAdd() && addEmployeeClick()"></div>
            <div class="icon delete" ng-attr-title="{{removeCommandToolTip()}}" ng-disabled="!canRemove()" ng-click="canRemove() && removeEmployeeClick()"></div>
            <div class="icon edit" ng-attr-title="{{editCommandToolTip()}}" ng-disabled="!canEdit()" ng-click="canEdit() && editEmployeeClick()"></div>
            <div class="icon redo" title="Восстановить" ng-show="isWithDeleted()" ng-disabled="!canRestore()" ng-click="canRestore() && restoreEmployeeClick()"></div>
        </div>
        <div class="icon add" title="Добавить пропуск" ng-disabled="!canAddCard()" ng-click="canAddCard() && addEmployeeCardClick()"></div>
        <div ng-show="selectedCard !== null">
            <div class="icon delete" title="Удалить пропуск" ng-disabled="!canEditCard()" ng-click="canEditCard() && removeEmployeeCardClick()"></div>
            <div class="icon edit" title="Редактировать пропуск"  ng-disabled="!canEditCard()" ng-click="canEditCard() && editEmployeeCardClick()"></div>
            <div class="icon print" title="Печать удостоверения"></div>
        </div>
    </div>
    <div class="HrToolbar" ng-show="activeTab === 1" ng-controller="departmentsToolbarCtrl">
        <div class="icon add" title="Добавить" ng-disabled="!canAdd()" ng-click="canAdd() && add()"></div>
        <div class="icon delete" title="Удалить" ng-disabled="!canRemove()" ng-click="canRemove() && remove()"></div>
        <div class="icon edit" title="Редактировать" ng-disabled="!canEdit()" ng-click="canEdit() && edit()"></div>
        <div class="icon copy" title="Копировать" ng-disabled="!canCopy()" ng-click="canCopy() && copy()"></div>
        <div class="icon paste" title="Вставить" ng-disabled="!canPaste()" ng-click="canPaste() && paste()"></div>
        <div class="icon redo" title="Восстановить" ng-show="isWithDeleted()" ng-disabled="!canRestore()" ng-click="canRestore() && restore()"></div>
    </div>
    <div class="HrToolbar" ng-show="activeTab === 2" ng-controller="positionsToolbarCtrl">
        <div class="icon add" title="Добавить" ng-disabled="!canAdd()" ng-click="canAdd() && add()"></div>
        <div class="icon delete" title="Удалить" ng-disabled="!canRemove()" ng-click="canRemove() && remove()"></div>
        <div class="icon edit" title="Редактировать" ng-disabled="!canEdit()" ng-click="canEdit() && edit()"></div>
        <div class="icon copy" title="Копировать" ng-disabled="!canCopy()" ng-click="canCopy() && copy()"></div>
        <div class="icon paste" title="Вставить" ng-disabled="!canPaste()" ng-click="canPaste() && paste()"></div>
        <div class="icon redo" title="Восстановить" ng-show="isWithDeleted()" ng-disabled="!canRestore()" ng-click="canRestore() && restore()"></div>
    </div>
    <div class="HrToolbar" ng-show="false">
        <div class="icon add"></div>
        <div class="icon delete"></div>
        <div class="icon edit"></div>
        <div class="icon copy"></div>
        <div class="icon paste"></div>
        <div class="icon redo"></div>
    </div>
    <div class="HrToolbar" ng-show="activeTab === 3" ng-controller="cardsToolbarCtrl">
        <div class="icon delete" title="Удалить" ng-disabled="!canRemove()" ng-click="canRemove() && remove()"></div>
    </div>
    <div class="HrToolbar" ng-show="activeTab === 4">
        <div class="icon add" title="Добавить" data-bind="click: AccessTemplates.CanAdd() ? function(data,event) { AccessTemplates.Add(data, event); } : null, css: {disabled: !AccessTemplates.CanAdd()}"></div>
        <div class="icon delete" title="Удалить" data-bind="click: AccessTemplates.CanRemove() ? function(data,event) { AccessTemplates.Remove(data, event); } : null, css: {disabled: !AccessTemplates.CanRemove()}"></div>
        <div class="icon edit" title="Редактировать" data-bind="click: AccessTemplates.CanEdit() ? function(data,event) { AccessTemplates.Edit(data, event); } : null, css: {disabled: !AccessTemplates.CanEdit()}"></div>
        <div class="icon copy" title="Копировать" data-bind="click: AccessTemplates.CanCopy() ? function(data,event) { AccessTemplates.Copy(data, event); } : null, css: {disabled: !AccessTemplates.CanCopy()}"></div>
        <div class="icon paste" title="Вставить" data-bind="click: AccessTemplates.CanPaste() ? function(data,event) { AccessTemplates.Paste(data, event); } : null, css: {disabled: !AccessTemplates.CanPaste()}"></div>
        <div class="icon redo" title="Восстановить" data-bind="visible:Filter.IsWithDeleted, click: AccessTemplates.CanRestore() ? function(data,event) { AccessTemplates.Restore(data, event); } : null, css: {disabled: !AccessTemplates.CanRestore()}"></div>
    </div>
    <div class="HrToolbar" ng-show="false">
        <div class="icon add"></div>
        <div class="icon delete"></div>
        <div class="icon edit"></div>
        <div class="icon copy"></div>
        <div class="icon paste"></div>
        <div class="icon redo"></div>
    </div>
    <div class="HrToolbar"  ng-show="activeTab === 5">
        <div class="icon add" title="Добавить" data-bind="click: Organisations.CanAdd() ? function(data,event) { Organisations.Add(data, event); } : null, css: {disabled: !Organisations.CanAdd()}"></div>
        <div class="icon delete" title="Удалить" data-bind="click: Organisations.CanRemove() ? function(data,event) { Organisations.Remove(data, event); } : null, css: {disabled: !Organisations.CanRemove()}"></div>
        <div class="icon edit" title="Редактировать" data-bind="click: Organisations.CanEdit() ? function(data,event) { Organisations.Edit(data, event); } : null, css: {disabled: !Organisations.CanEdit()}"></div>
        <div class="icon redo" title="Восстановить" data-bind="visible:Filter.IsWithDeleted, click: Organisations.CanRestore() ? function(data,event) { Organisations.Restore(data, event); } : null, css: {disabled: !Organisations.CanRestore()}"></div>
        <div class="icon add" title="Скрыть архивные сведения" data-bind="visible: Filter.IsWithDeleted, click: ChangeIsDeleted"></div>
        <div class="icon delete" title="Отображать архивные сведения" data-bind="visible: !Filter.IsWithDeleted(), click: ChangeIsDeleted"></div>
    </div>
    <div class="HrToolbar"  ng-show="activeTab !== 5">
        <div class="icon filter" title="Фильтр" ng-show="!Filter.IsNotEmpty()" ng-click="editFilter()"></div>
        <div class="icon archive" title="Фильтр" ng-show="Filter.IsNotEmpty()" ng-click="editFilter()"></div>
    </div>

    <select id="selectPersonType" ng-model="selectedPersonType" ng-show="activeTab === 0">
        <option value="Employee" ng-show="canEmployeesView()">Сотрудник</option>
        <option value="Guest" ng-show="canGuestsView()">Посетитель</option>
    </select>
    <div>
        <uib-tabset active="activeTab">
            <uib-tab index="0" ng-show="canSelectEmployees()" heading="{{employeesHeader()}}">
                @Html.Action("Index", "Employees")
            </uib-tab>
            <uib-tab index="1" ng-show="canSelectDepartments()" heading="Подразделения">
                @Html.Action("Index", "Departments")
            </uib-tab>
            <uib-tab index="2" ng-show="canSelectPositions()" heading="Должности">
                @Html.Action("Index", "Positions")
            </uib-tab>
            <uib-tab index="3" ng-show="canSelectCards()" heading="Пропуска">
                @Html.Action("Index", "Cards")
            </uib-tab>
            <uib-tab index="4" ng-show="canSelectAccessTemplates()" heading="Шаблоны доступа">
                @Html.Action("Index", "AccessTemplates")
            </uib-tab>
            <uib-tab index="5" ng-show="canSelectOrganisations()" heading="Организации">
                @Html.Action("Index", "Organisations")
            </uib-tab>
        </uib-tabset>
    </div>
</div>