@{
    ViewBag.Title = "Index";
    Layout = null;
}



<div id="HR">
    <div class="HrToolbar" ng-show="activeTab === 0" ng-controller="employeesToolbarCtrl">
        <div data-bind="visible:!Employees.EmployeeCards.IsCardSelected()">
            <div class="icon add" data-bind="click: Employees.CanAdd() ? function(data,event) { Employees.AddEmployeeClick(data, event, '#employee-details-box'); } : null, attr: {title: Employees.AddCommandToolTip}, css: {disabled: !Employees.CanAdd()}"></div>
            <div class="icon delete" data-bind="click: Employees.CanRemove() ? function(data,event) { Employees.RemoveEmployeeClick(data, event); } : null, attr: {title: Employees.RemoveCommandToolTip}, css: {disabled: !Employees.CanRemove()}"></div>
            <div class="icon edit" ng-click="editEmployeeClick()" data-bind="click: Employees.CanEdit() ? function(data,event) { Employees.EditEmployeeClick(data, event, '#employee-details-box'); } : null, attr: {title: Employees.EditCommandToolTip}, css: {disabled: !Employees.CanEdit()}"></div>
            <div class="icon redo" title="Восстановить" data-bind="visible:Filter.IsWithDeleted, click: Employees.CanRestore() ? function(data,event) { Employees.RestoreEmployeeClick(data, event); } : null, css: {disabled: !Employees.CanRestore()}"></div>
        </div>
        <div class="icon add" title="Добавить пропуск" data-bind="click: Employees.EmployeeCards.CanAddCard() ? function(data,event) { Employees.EmployeeCards.AddEmployeeCardClick(data, event, '#employee-card-details-box'); } : null, css: {disabled: !Employees.EmployeeCards.CanAddCard()}"></div>
        <div data-bind="visible:Employees.EmployeeCards.IsCardSelected">
            <div class="icon delete" title="Удалить пропуск" data-bind="click: Employees.EmployeeCards.CanEditCard() ? function(data,event) { Employees.EmployeeCards.RemoveEmployeeCardClick(data, event); } : null, css: {disabled: !Employees.EmployeeCards.CanEditCard()}"></div>
            <div class="icon edit" title="Редактировать пропуск" data-bind="click: Employees.EmployeeCards.CanEditCard() ? function(data,event) { Employees.EmployeeCards.EditEmployeeCardClick(data, event, '#employee-card-details-box'); } : null, css: {disabled: !Employees.EmployeeCards.CanEditCard()}"></div>
            <div class="icon print" title="Печать удостоверения"></div>
        </div>
    </div>
    <div class="HrToolbar" ng-show="activeTab === 1">
        <div class="icon add" title="Добавить" data-bind="click: Departments.CanAdd() ? function(data,event) { Departments.Add(data, event); } : null, css: {disabled: !Departments.CanAdd()}"></div>
        <div class="icon delete" title="Удалить" data-bind="click: Departments.CanRemove() ? function(data,event) { Departments.Remove(data, event); } : null, css: {disabled: !Departments.CanRemove()}"></div>
        <div class="icon edit" title="Редактировать" data-bind="click: Departments.CanEdit() ? function(data,event) { Departments.EditDepartmentClick(data, event, '#department-details-box'); } : null, css: {disabled: !Departments.CanEdit()}"></div>
        <div class="icon copy" title="Копировать" data-bind="click: Departments.CanCopy() ? function(data,event) { Departments.Copy(data, event); } : null, css: {disabled: !Departments.CanCopy()}"></div>
        <div class="icon paste" title="Вставить" data-bind="click: Departments.CanPaste() ? function(data,event) { Departments.Paste(data, event); } : null, css: {disabled: !Departments.CanPaste()}"></div>
        <div class="icon redo" title="Восстановить" data-bind="visible:Filter.IsWithDeleted, click: Departments.CanRestore() ? function(data,event) { Departments.Restore(data, event); } : null, css: {disabled: !Departments.CanRestore()}"></div>
    </div>
    <div class="HrToolbar" ng-show="activeTab === 2">
        <div class="icon add" title="Добавить" data-bind="click: Positions.CanAdd() ? function(data,event) { Positions.Add(data, event); } : null, css: {disabled: !Positions.CanAdd()}"></div>
        <div class="icon delete" title="Удалить" data-bind="click: Positions.CanRemove() ? function(data,event) { Positions.Remove(data, event); } : null, css: {disabled: !Positions.CanRemove()}"></div>
        <div class="icon edit" title="Редактировать" data-bind="click: Positions.CanEdit() ? function(data,event) { Positions.Edit(data, event); } : null, css: {disabled: !Positions.CanEdit()}"></div>
        <div class="icon copy" title="Копировать" data-bind="click: Positions.CanCopy() ? function(data,event) { Positions.Copy(data, event); } : null, css: {disabled: !Positions.CanCopy()}"></div>
        <div class="icon paste" title="Вставить" data-bind="click: Positions.CanPaste() ? function(data,event) { Positions.Paste(data, event); } : null, css: {disabled: !Positions.CanPaste()}"></div>
        <div class="icon redo" title="Восстановить" data-bind="visible:Filter.IsWithDeleted, click: Positions.CanRestore() ? function(data,event) { Positions.Restore(data, event); } : null, css: {disabled: !Positions.CanRestore()}"></div>
    </div>
    <div class="HrToolbar" ng-show="false">
        <div class="icon add"></div>
        <div class="icon delete"></div>
        <div class="icon edit"></div>
        <div class="icon copy"></div>
        <div class="icon paste"></div>
        <div class="icon redo"></div>
    </div>
    <div class="HrToolbar" ng-show="activeTab === 3">
        <div class="icon delete" title="Удалить" data-bind="click: Cards.CanRemove() ? function(data,event) { Cards.Remove(data, event); } : null, css: {disabled: !Cards.CanRemove()}"></div>
    </div>
    <div class="HrToolbar" ng-show="activeTab === 4">
        <div class="icon add" title="Добавить" data-bind="click: AccessTemplates.CanAdd() ? function(data,event) { AccessTemplates.Add(data, event); } : null, css: {disabled: !AccessTemplates.CanAdd()}"></div>
        <div class="icon delete" title="Удалить" data-bind="click: AccessTemplates.CanRemove() ? function(data,event) { AccessTemplates.Remove(data, event); } : null, css: {disabled: !AccessTemplates.CanRemove()}"></div>
        <div class="icon edit" title="Редактировать" data-bind="click: AccessTemplates.CanEdit() ? function(data,event) { AccessTemplates.Edit(data, event); } : null, css: {disabled: !AccessTemplates.CanEdit()}"></div>
        <div class="icon copy" title="Копировать" data-bind="click: AccessTemplates.CanCopy() ? function(data,event) { AccessTemplates.Copy(data, event); } : null, css: {disabled: !AccessTemplates.CanCopy()}"></div>
        <div class="icon paste" title="Вставить" data-bind="click: AccessTemplates.CanPaste() ? function(data,event) { AccessTemplates.Paste(data, event); } : null, css: {disabled: !AccessTemplates.CanPaste()}"></div>
        <div class="icon redo" title="Восстановить" data-bind="visible:Filter.IsWithDeleted, click: AccessTemplates.CanRestore() ? function(data,event) { AccessTemplates.Restore(data, event); } : null, css: {disabled: !AccessTemplates.CanRestore()}"></div>
    </div>
    <div class="HrToolbar" ng-show="false">
        <div class="icon add"></div>
        <div class="icon delete"></div>
        <div class="icon edit"></div>
        <div class="icon copy"></div>
        <div class="icon paste"></div>
        <div class="icon redo"></div>
    </div>
    <div class="HrToolbar"  ng-show="activeTab === 5">
        <div class="icon add" title="Добавить" data-bind="click: Organisations.CanAdd() ? function(data,event) { Organisations.Add(data, event); } : null, css: {disabled: !Organisations.CanAdd()}"></div>
        <div class="icon delete" title="Удалить" data-bind="click: Organisations.CanRemove() ? function(data,event) { Organisations.Remove(data, event); } : null, css: {disabled: !Organisations.CanRemove()}"></div>
        <div class="icon edit" title="Редактировать" data-bind="click: Organisations.CanEdit() ? function(data,event) { Organisations.Edit(data, event); } : null, css: {disabled: !Organisations.CanEdit()}"></div>
        <div class="icon redo" title="Восстановить" data-bind="visible:Filter.IsWithDeleted, click: Organisations.CanRestore() ? function(data,event) { Organisations.Restore(data, event); } : null, css: {disabled: !Organisations.CanRestore()}"></div>
        <div class="icon add" title="Скрыть архивные сведения" data-bind="visible: Filter.IsWithDeleted, click: ChangeIsDeleted"></div>
        <div class="icon delete" title="Отображать архивные сведения" data-bind="visible: !Filter.IsWithDeleted(), click: ChangeIsDeleted"></div>
    </div>
    <div class="HrToolbar"  ng-show="activeTab !== 5">
        <div class="icon filter" title="Фильтр" ng-show="!Filter.IsNotEmpty()" ng-click="editFilter()"></div>
        <div class="icon archive" title="Фильтр" ng-show="Filter.IsNotEmpty()" ng-click="editFilter()"></div>
    </div>

    <select id="selectPersonType" ng-model="selectedPersonType" ng-show="activeTab === 0">
        <option value="Employee" ng-show="canEmployeesView()">Сотрудник</option>
        <option value="Guest" ng-show="canGuestsView()">Посетитель</option>
    </select>
    <div>
        <uib-tabset active="activeTab">
            <uib-tab index="0" ng-show="canSelectEmployees()" heading="{{employeesHeader()}}">
                @Html.Action("Index", "Employees")
            </uib-tab>
            <uib-tab index="1" ng-show="canSelectPositions()" heading="Подразделения">
                @Html.Action("Index", "Departments")
            </uib-tab>
            <uib-tab index="2" ng-show="canSelectDepartments()" heading="Должности">
                @Html.Action("Index", "Positions")
            </uib-tab>
            <uib-tab index="3" ng-show="canSelectCards()" heading="Пропуска">
                @Html.Action("Index", "Cards")
            </uib-tab>
            <uib-tab index="4" ng-show="canSelectAccessTemplates()" heading="Шаблоны доступа">
                @Html.Action("Index", "AccessTemplates")
            </uib-tab>
            <uib-tab index="5" ng-show="canSelectOrganisations()" heading="Организации">
                @Html.Action("Index", "Organisations")
            </uib-tab>
        </uib-tabset>
    </div>
</div>

@Html.Action("DepartmentSelection", "Employees")
@Html.Action("PositionSelection", "Employees")
@Html.Action("ScheduleSelection", "Employees")
@Html.Action("EmployeeSelectionDialog")
@Html.Action("PhotoSelection")
