
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div data-bind="visible:pages.HR">@Html.Action("HR")</div>
<div data-bind="visible:pages.State">@Html.Action("State")</div>
<div data-bind="visible:pages.Device">@Html.Action("Device")</div>
<div data-bind="visible:pages.Report">@Html.Action("Report")</div>
<div data-bind="visible:pages.Archive">@Html.Action("Archive")</div>
