@model RubezhAPI.License.RubezhLicenseInfo

@{
    ViewBag.CurrentTab = "License";
}

<p>
    <label>Статус лицензии:</label>
    @Model.LicenseMode.ToDescription()
</p>
<div>
    <table class="table">
        <tbody>
            <tr>
                <td>GLOBAL Удаленное рабочее место (количество):</td>
                <td>@Model.RemoteClientsCount</td>
            </tr>
            <tr>
                <td>GLOBAL Пожаротушение:</td>
                <td>@Model.HasFirefighting.ToYesNo()</td>
            </tr>
            <tr>
                <td>GLOBAL Охрана:</td>
                <td>@Model.HasGuard.ToYesNo()</td>
            </tr>
            <tr>
                <td>GLOBAL Доступ:</td>
                <td>@Model.HasSKD.ToYesNo()</td>
            </tr>
            <tr>
                <td>GLOBAL Видео:</td>
                <td>@Model.HasVideo.ToYesNo()</td>
            </tr>
            <tr>
                <td>GLOBAL OPC Сервер:</td>
                <td>@Model.HasOpcServer.ToYesNo()</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <label>Ключ:</label>
    @ViewBag.InitialKey
    <div class="btn btn-block btn-default btn-primary">
        Загрузить лицензию
    </div>
</div>

